#pokedexContainer {
    display: flex;
    max-width: 80rem; /* 1280px */
    width: 100%;
    flex-grow: 1; /* Takes Up Remaining Space In Container. */
    flex-direction: column;
    padding: 0rem 2rem;
    gap: 2rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}

#paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.paginateButton {
    background-color: #F05A57;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    transition: color .2s linear;
    transition: background-color .2s linear;
}

.paginateButton:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #F05A57;

}


/* Tablet View */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    #grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    #grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
