footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem 2rem;
    max-width: 100%;
    width: 100%;
}

#footerNav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;
}

.linkList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.linkList a {
    text-decoration: none;
    color: inherit; /* Takes The Color Of The Parent. */
}

.linkList a:hover {
    cursor: pointer;
    color: #EF5350;
}

#footerContainer {
    display: flex;
    justify-content: center;
    gap: 2rem; /* 16px Spacing. */
    width: 100%;
    max-width: 1280px;
    height: auto; /* Hugs Content */
}

.footerFrame {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; /* Takes Up Full Container Width. */
    height: auto; /* Hugs Content. */
}
#socialLinks {
    display: flex;
    gap: 1rem;
}

#footerLogo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

svg:hover {
    fill: #EF5350;
}

/* Desktop Sizing And Above. */
@media only screen and (min-width: 1025px) {
    
}

/* Footer Styling For Mobile & Tablet Devices. */
@media only screen and (min-width: 320px) and (max-width: 1024px ) {
    #footerContainer {
        flex-direction: column;
        gap: 2rem; /* 32px Spacing. */
    }

    ul {
        flex-direction: row;
    }

    section {
        padding: 2rem 1rem;
    }
}